-
    var logoURL = "https://images.unsplash.com/photo-1633409361618-c73427e4e206?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Skilify
        link(rel="stylesheet", href="styles.css")
    body
        aside
            .brand
                img.logo(src=logoURL, alt="Brand")
                h1.brand-name Skillify Admin
            nav
        main